# Ignorar virtualenvs
venv/
env/

# Ignorar banco de dados SQLite
data/chroma_db/chroma.sqlite3
data/chroma_db/

# Ignorar caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar banco de dados SQLite
src/data/chroma_db/chroma.sqlite3
src/data/chroma_db/

# Arquivos de configuração locais
*.env
.env/
